// $primary-color: #7e5a4e;
// $secondary-color: bisque;
// $tertiary-color: #a47b6d;
// $black-color: #212529;
// $layout-color: #75564b45;
// $border-light-color: #75564bbf;

// $primary-color: #4e7e6c;
// $secondary-color: rgb(196, 255, 241);
// $tertiary-color: #6da4a2;
// $black-color: #212529;
// $layout-color: #75564b45;
// $border-light-color: #4b7574bf;

$primary-color: #ae8626;
$secondary-color: #f7e08a;
$tertiary-color: #d2ac47;
$black-color: #59441f;
$layout-color: #84724945;
$border-light-color: #6d6144bf;
