@import "./errorMessage";

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: #11f8;
  width: 100%;
  background-color: darkgray;
}
