.masonry_layout {
  column-count: 4;
  column-gap: 10px;
}

.image_item {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.image_item > img {
  max-width: 100%;
  border-radius: 6px;
  display: block;
  grid-row: 1 / -1;
  grid-column: 1;
}
