* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

.App {
  margin: 20px 0;
}

.box-input {
  position: relative;
  padding-bottom: 25px;
}

.box-input .error {
  color: #c62626;
  position: absolute;
  bottom: 0;
  font-size: 14px;
}
