.country-main {
  .to-back-btn {
    padding: 8px 40px;
    background-color: $primary-clr;
    border: 1px solid $primary-clr;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 2px $shodow-clr;
    transition: all 0.3s;
    &:hover {
      background-color: #334252;
      border-color: #334252;
    }
    &:active {
      background-color: #394a5c;
      border-color: #394a5c;
      transform: scale(1.02);
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.7);
    }
    .to-back-btn-text {
      margin-left: 10px;
    }
  }
  .country-img-box {
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 8px 3px $shodow-clr;
  }
  .country-text-wrapper {
    color: white;
    padding: 60px 90px;
    padding-right: 0;
    .country-name {
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}
