header {
  padding: 25px 0;
  &.dark-header {
    background-color: $primary-clr;
    color: white;
    box-shadow: 0px 5px 8px 2px $shodow-clr;
    position: relative;
    z-index: 1;
  }

  h2 {
    &.title {
      font-size: 24px;
      font-weight: 600;
    }
  }

  .mode {
    display: flex;
    align-items: center;
    .icon-box {
      margin-right: 10px;
    }
  }
}
